@use "../abstracts/variables" as vars;
@use "../mixins/menu";

.content-container {
  display: grid;
  margin: 2rem 0;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  overflow: hidden;
  scroll-behavior: smooth;

  .page-title {
    margin-top: 3rem;
  }

  .page-subtitle {
    margin-top: 1rem;

    .page-quantity {
      color: vars.$text-light;
    }
  }

  .page-list-container {
    max-height: 40vh;
    overflow-y: auto;
    margin-bottom: 3rem;
    padding-right: 0.5rem;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }

    .page-list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: minmax(60px, auto);
      list-style: none;
      padding: 0 1rem;
      margin: 0.25rem;
      justify-content: center;

      .page-list-items {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-auto-rows: minmax(60px, auto);
        border-bottom: none;
        padding: 0.5rem 0;
        align-items: center;
        gap: 2rem;
      }
    }

    .actions-menu {
      position: relative;
      display: flex;
      align-items: center;
    }

    .btn-menu-toggle {
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      margin-top: 0;
      transition: all 0.3s ease-in-out;

      &:hover,
      &.active {
        color: vars.$error-light;
      }

      svg {
        display: inline-block;
      }
    }

    .menu-dropdown {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translateY(-65%) translateX(-50%);
      border-radius: 8px;
      min-width: 20px;
      z-index: 100;
      animation: hiddenMenu 0.2s ease-in-out;
      overflow: hidden;
    }
  }
}
