<div class="dashboard-container" *ngIf="!isLoading" @fadeInOut>
  <app-logo></app-logo>

  <div class="dashboard-greet">
    <h1 *ngIf="!isLoading" @fadeInOut>
      Bem vind{{ currentUser === "Sayo" ? "a" : "o" }},
      <span class="greet-name" [class.sayo]="currentUser === 'Sayo'">
        {{ currentUser }}
      </span>
    </h1>
  </div>

  <div class="dashboard-intro">
    <p>O que você quer organizar?</p>
  </div>

  <div class="dashboard-options">
    <button type="button" (click)="goToHousehold()">
      {{ isLoading ? "Carregando..." : "Casa" }}
    </button>

    <div>
      <button type="button" (click)="goToWorkplace()" disabled>
        {{ isLoading ? "Carregando..." : "Trabalho" }}
      </button>
    </div>
  </div>

  <div class="dashboard-logout">
    <button class="btn-logout" type="button" (click)="logout()" [disabled]="isLoading">
      {{ isLoading ? "Saindo..." : "Logout" }}
    </button>
  </div>

  <app-arrows></app-arrows>
  <app-footer></app-footer>
</div>
