@use '../abstracts/variables' as vars

.home-container
  display: grid
  grid-template-rows: 1fr auto
  justify-items: center
  align-items: center
  height: 100vh
  padding: 1.25rem
  text-align: center
  background: vars.$bg-light
  transition: all .8s ease-in-out

  &.fade-out
    opacity: 0

.logo
  display: grid
  place-items: center
  width: 100%
  max-width: 600px

  img
    width: 100%
    height: auto

p
  font-size: .875rem
  margin-bottom: 1.25rem