@use "../abstracts/variables" as vars;
@use "../mixins/default" as *;

.dashboard-container {
  @include base-container;
  grid-template-rows: 0.5fr 0.5fr 1fr 3.5fr 3fr auto;
  min-height: 100vh;

  .dashboard-options {
    display: grid;
    justify-content: center;
    padding: 1rem;
  }

  .dashboard-greet {
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;

    .greet-name {
      color: vars.$blue-light;
      transition: all 0.3s ease-in-out;

      &.sayo {
        color: vars.$pink-light;
      }
    }
  }

  .dashboard-intro {
    margin-top: 6rem;
    font-size: 1.5rem;
  }

  .dashboard-logout {
    //align-self: end;
  }
}
