@use "../abstracts/variables" as vars;
@use "../mixins/container" as *;

.login-container {
  @include base-container;

  h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  form {
    display: grid;
    gap: 0.5rem;
    width: 100%;
    max-width: 320px;
    z-index: 10;
  }

  label {
    color: vars.$text-light;
    font-weight: vars.$font-bold;
    text-align: left;
  }

  input {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-bottom: 2px solid vars.$main-dark;
    color: vars.$main-light;
    font-weight: vars.$font-slim;
    border-radius: 0.5rem;
    font-size: 0.875rem;
  }

  .login-logo {
    img {
      width: 350px;
      height: auto;
    }
  }

  .error-message {
    color: vars.$error-light;
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }

  .register-link,
  .recovery-link {
    position: relative;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    z-index: 1;
  }

  a {
    color: vars.$main-light;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: vars.$main-light, 10%;
    }
  }
}
