$bg-light: #fafafa;
$main-light: #a6a6a6;
$hover-light: #9f9f9f;
$blue-light: #aad6ff;
$green-light: #bbefbf;
$yellow-light: #fff29e;
$pink-light: #efa4eb;
$disabled-light: #efefef;

$button-light: #fefefe;

$text-light: #b9b9b9;
$loading-text-light: #d9d9d9;
$error-light: #f08f8f;
$success-light: #aaefaa;

$bg-dark: #5d5d5d;
$main-dark: #f1f1f1;
$hover-dark: #d0d0d0;
$blue-dark: #889ecf;
$green-dark: #88c884;
$yellow-dark: #d8cd6d;
$pink-dark: #ec8fe8;
$disabled-dark: #4f4f4f;

$text-dark: #333333;
$error-dark: #f05050;
$error-dark: #88cc00;

$font-slim: 300;
$font-regular: 500;
$font-bold: 700;

$gradient-light: linear-gradient(to right, $blue-light, $green-light, $yellow-light);
$gradient-dark: linear-gradient(to right, $blue-dark, $green-dark, $yellow-dark);
