<div class="object-container" >
  <app-header></app-header>

  <div *ngIf="isLoading">
    <p>Carregando...</p>
  </div>

  <div class="content-container" *ngIf="!isLoading" @fadeInOut>
    <div class="object-card" *ngIf="object">
      <app-object-image [object]="object"></app-object-image>

      <div class="info-section">
        <h1 class="object-name">{{ object.name.toUpperCase() }}</h1>

        <div class="info-row">
          <span class="label">Quantidade: </span>
          <span class="value">{{ object.quantity }}</span>
        </div>

        <div class="info-row">
          <span class="label">Container: </span>
          <span class="value">{{ containerName || "—" }}</span>
        </div>

        <div class="info-row">
          <span class="label">Cômodo: </span>
          <span class="value">{{ roomName || "—" }}</span>
        </div>
      </div>
    </div>
  </div>

  <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

  <div>
    <button class="btn-back" type="button" (click)="addOrReplaceImage()"
    [disabled]="isLoading" >
      {{ isLoading ? "Carregando..." : (object?.image ? "Atualizar Imagem" : "Adicionar
      Imagem") }}
    </button>
  </div>

  <div>
    <button class="btn-back" type="button" (click)="goBack()" [disabled]="isLoading">
      {{ isLoading ? "Carregando..." : "Voltar" }}
    </button>
  </div>

  <app-arrows></app-arrows>
  <app-footer></app-footer>
</div>
