<div class="container-container" @fadeInOut>
  <app-logo></app-logo>

  <div *ngIf="isLoading">
    <p>Carregando...</p>
  </div>

  <div class="content-container" *ngIf="!isLoading" @fadeInOut>
    <div *ngIf="container?.image">
      <img ngSrc="{{ container?.image }}" alt="Container image" width="180" height="180" />
    </div>

    <h1 class="page-title" *ngIf="!isLoading" @fadeInOut>
      {{ container?.name }} {{ container?.number }}
    </h1>

    <h2 class="page-subtitle" *ngIf="!isLoading" @fadeInOut>
      Objetos listados: <span class="page-quantity" @fadeInOut>{{ objects.length }}</span>
    </h2>

    <ng-container *ngIf="!isLoading && objects.length === 0" @fadeInOut>
      <p>Nenhum objeto encontrado.</p>
    </ng-container>

    <div class="page-list container-list" *ngIf="!isLoading" @fadeInOut>
      <div class="objects-table">
        <div class="table-header">
          <div>Nome</div>
          <div>Quantidade</div>
          <!--          <div>Categoria</div>-->
        </div>

        <div class="table-body">
          <div
            class="table-row"
            *ngFor="let obj of objects; let i = index"
            (click)="router.navigate(['/object', obj.id])"
            [class.even]="i % 2 === 0"
          >
            <div class="cell-name">
              {{ obj.name }}
            </div>
            <div class="cell-quantity">{{ obj.quantity }}</div>
            <!--            <div class="cell-category">-->
            <!--              <span *ngIf="obj.category">{{ obj.category }}</span>-->
            <!--              <span *ngIf="!obj.category" class="text-muted">—</span>-->
            <!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <form class="page-form" (ngSubmit)="createObject()">
    <div class="page-form-input split-container">
      <input
        type="text"
        id="objName"
        [(ngModel)]="newObjName"
        name="objName"
        placeholder="Nome do novo objeto"
        required
      />

      <input
        type="number"
        id="objQuantity"
        [(ngModel)]="newObjQuantity"
        name="objQuantity"
        min="1"
        placeholder="Quant."
        required
      />

      <!--      <div class="split-container">-->

      <!--                <input-->
      <!--                  type="text"-->
      <!--                  id="objCategory"-->
      <!--                  [(ngModel)]="newObjCategory"-->
      <!--                  name="objCategory"-->
      <!--                  placeholder="Categoria (opcional)"-->
      <!--        />-->
      <!--      </div>-->
    </div>

    <button type="submit" [disabled]="isCreating || !newObjName.trim()">
      {{ isLoading || isCreating ? "Carregando..." : "Adicionar" }}
    </button>
  </form>

  <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

  <div>
    <button class="btn-back" type="button" (click)="backToRoom()" [disabled]="isLoading">
      {{ isLoading ? "Carregando..." : "Voltar" }}
    </button>
  </div>

  <app-arrows></app-arrows>
  <app-footer></app-footer>
</div>
