<div class="login-container">
  <div class="logo-container">
    <img
      ngSrc="assets/logos/neatnest-logo-light.svg"
      width="350"
      height="350"
      alt="NeatNest Logo"
      priority
    />
  </div>

  <form (ngSubmit)="login()">
    <label for="identifier">Username ou E-mail</label>
    <input type="text" id="identifier" [(ngModel)]="identifier" name="identifier" required />

    <label for="password">Senha</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="password"
      name="password"
      required
      minlength="6"
    />

    <button ngtype="submit" [disabled]="isLoading">
      {{ isLoading ? "Loading..." : "Login" }}
    </button>

    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>

  <div class="links-container">
    <p class="recovery-link">
      <a (click)="navigateToRecovery()">Esqueceu seu Username ou Senha?</a>
    </p>

    <p class="register-link">
      Não tem uma conta? <a (click)="navigateToRegister()"><b>Inscreva-se aqui.</b></a>
    </p>
  </div>

  <app-arrows></app-arrows>
  <app-footer></app-footer>
</div>
