<div class="login-container">
  <div class="login-logo">
    <img
      ngSrc="assets/logos/neatnest-logo.webp"
      width="500"
      height="500"
      alt="NeatNest Logo"
      priority
    />
  </div>

  <form (ngSubmit)="login()">
    <label for="identifier">E-mail</label>
    <input type="email" id="identifier" [(ngModel)]="identifier" name="identifier" required />

    <label for="password">Senha</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="password"
      name="password"
      required
      minlength="6"
    />

    <button ngtype="submit" [disabled]="isLoading">
      {{ isLoading ? "Carregando..." : "Entrar" }}
    </button>

    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>

  <div class="links-container">
    <p class="recovery-link">
      <a (click)="navigateToRecovery()">Esqueceu seu Username ou Senha?</a>
    </p>

    <p class="register-link">
      Não tem uma conta? <a (click)="navigateToRegister()"><b>Inscreva-se aqui.</b></a>
    </p>
  </div>

  <app-arrows></app-arrows>
  <app-footer></app-footer>
</div>
