<div class="room-container" @fadeInOut>
  <app-logo></app-logo>

  <div *ngIf="isLoading">
    <p>Carregando...</p>
  </div>

  <div class="content-container" *ngIf="!isLoading" @fadeInOut>
    <h1 class="page-title" *ngIf="room">{{ room.name }}</h1>

    <h2 class="page-subtitle" *ngIf="!isLoading" @fadeInOut>
      Containers listados: <span class="page-quantity">{{ containers.length }}</span>
    </h2>

    <ng-container *ngIf="!isLoading && containers.length === 0" @fadeInOut>
      <p>Nenhum container encontrado.</p>
    </ng-container>

    <div class="page-list-container" *ngIf="!isLoading" @fadeInOut>
      <ul class="page-list">
        <li class="page-list-items" *ngFor="let c of containers">
          <button class="btn-room-list" type="button" (click)="openContainer(c)">
            <span class="list item">{{ c.name }} {{ c.number }}</span>
          </button>
          <button class="btn-delete" type="button" (click)="deleteContainer(c.id, c.name)">
            X
          </button>
        </li>
      </ul>

      <div class="scroll-indicator" *ngIf="containers.length > 4"></div>
    </div>
  </div>

  <form class="page-form" (ngSubmit)="createContainer()">
    <div class="page-form-input split-container">
      <input
        id="containerName"
        type="text"
        [(ngModel)]="newContainerName"
        name="containerName"
        placeholder="Nome do novo container"
        required
      />

      <input
        id="containerNumber"
        type="number"
        [(ngModel)]="newContainerNumber"
        name="containerNumber"
        placeholder="Número"
        required
        min="0"
        step="1"
      />
    </div>

    <button type="submit" [disabled]="isLoading || !newContainerName.trim()">
      {{ isLoading ? "Carregando..." : "Adicionar" }}
    </button>
  </form>

  <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

  <div>
    <button class="btn-back" type="button" (click)="backToHousehold()" [disabled]="isLoading">
      {{ isLoading ? "Carregando..." : "Voltar" }}
    </button>
  </div>

  <app-arrows></app-arrows>
  <app-footer></app-footer>
</div>
